In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import pandas as pd

/Users/Ava/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/Ava/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [2]:
#Load in the dataset
data = pd.read_csv("./Commuting_data.csv", encoding = "ISO-8859-1")

In [3]:
total_num_people = data['COUNT'].sum()
print('The total number of individuals in the datset is ', total_num_people)

The total number of individuals in the datset is  2750239

In [4]:
#list unique county elements/categories
data["RESIDENCE_COUNTY_LABEL"].unique()

array(['Carlow', 'Dublin City', 'South Dublin', 'Fingal',
       'Dún-Laoghaire Rathdown', 'Kildare', 'Kilkenny', 'Laois',
       'Longford', 'Louth', 'Meath', 'Offaly', 'Westmeath', 'Wexford',
       'Wicklow', 'Clare', 'Cork City', 'Cork County', 'Kerry',
       'Limerick City and County', 'Tipperary',
       'Waterford City and County', 'Galway City', 'Galway County',
       'Leitrim', 'Mayo', 'Roscommon', 'Sligo', 'Cavan', 'Donegal',
       'Monaghan'], dtype=object)

In [5]:
#Understanding data
data.loc[(data['RESIDENCE_COUNTY_LABEL'] == 'Kildare') & (data['RESIDENCE_CSOED_LABEL'] == 'Maynooth')].sort_values(by=['COUNT']).tail(20)

,RESIDENCE_ED_GUID,RESIDENCE_CSOED,RESIDENCE_CSOED_LABEL,RESIDENCE_COUNTY,RESIDENCE_COUNTY_LABEL,POWSC_ED_GUID,POWSC_CSOED,POWSC_CSOED_LABEL,POWSC_COUNTY,POWSC_COUNTY_LABEL,COUNT
75924,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DB413A3E055000000000001,ed3409_02077,North Dock B,DC,Dublin City,70
76009,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DE213A3E055000000000001,ed3409_03018,Newcastle,SD,South Dublin,71
76111,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629221213A3E055000000000001,ed3409_06038,Kilcock,KE,Kildare,76
76080,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291D1913A3E055000000000001,ed3409_05027,Clonskeagh-Belfield,DR,Dún-Laoghaire Rathdown,77
76065,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291CE813A3E055000000000001,ed3409_04041,The Ward,FL,Fingal,79
76011,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DE413A3E055000000000001,ed3409_03020,Palmerston West,SD,South Dublin,82
76156,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629186313A3E055000000000001,ed3409_11014,Kilmore,MH,Meath,83
76102,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629225B13A3E055000000000001,ed3409_06003,Naas Urban,KE,Kildare,84
75977,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DEC13A3E055000000000001,ed3409_02144,Royal Exchange A,DC,Dublin City,99
75923,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DB213A3E055000000000001,ed3409_02075,North City,DC,Dublin City,117
75979,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DEE13A3E055000000000001,ed3409_02146,St. Kevin's,DC,Dublin City,123
75953,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DA013A3E055000000000001,ed3409_02118,Mansion House B,DC,Dublin City,136
75980,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DEF13A3E055000000000001,ed3409_02147,South Dock,DC,Dublin City,141
75925,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291DB513A3E055000000000001,ed3409_02078,North Dock C,DC,Dublin City,150
75952,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE196291D9F13A3E055000000000001,ed3409_02117,Mansion House A,DC,Dublin City,212
76248,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,NaN,W,Work/school from home,W,Work/school from home,220
76107,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629228E13A3E055000000000001,ed3409_06034,Celbridge,KE,Kildare,261
76112,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629223E13A3E055000000000001,ed3409_06039,Leixlip,KE,Kildare,429
76246,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,NaN,M,No fixed place of work,M,No fixed place of work,508
76113,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,2AE19629224013A3E055000000000001,ed3409_06040,Maynooth,KE,Kildare,4477

## County Level

In [7]:
#Obtain list of unqiue origin counties and unqiue destination counties 
origins_county = data["RESIDENCE_COUNTY_LABEL"].unique()
destinations_county = data["POWSC_COUNTY_LABEL"].unique()

In [8]:
# Generate permutations
permutations = list(itertools.product(origins_county, destinations_county))

# Create DataFrame
all_commutes_df = pd.DataFrame(permutations, columns=['County_Origin_all', 'County_Destination_all'])

# Create 'County_commute' column by concatenating 'Origin' and 'Destination' with '-'
all_commutes_df['County_commute'] = all_commutes_df['County_Origin_all'] + '-' + all_commutes_df['County_Destination_all']

# Create 'count' column with all 0s
all_commutes_df['Count_Zero'] = 0

all_commutes_df

,County_Origin_all,County_Destination_all,County_commute,Count_Zero
0,Carlow,Carlow,Carlow-Carlow,0
1,Carlow,Dublin City,Carlow-Dublin City,0
2,Carlow,South Dublin,Carlow-South Dublin,0
3,Carlow,Fingal,Carlow-Fingal,0
4,Carlow,Dún-Laoghaire Rathdown,Carlow-Dún-Laoghaire Rathdown,0
...,...,...,...,...
1080,Monaghan,Clare,Monaghan-Clare,0
1081,Monaghan,Sligo,Monaghan-Sligo,0
1082,Monaghan,Longford,Monaghan-Longford,0
1083,Monaghan,Donegal,Monaghan-Donegal,0
1084,Monaghan,Leitrim,Monaghan-Leitrim,0

In [9]:
#Creating new dataframe with longitude and latitude
data_lat_long = {
    "county": ['Carlow', 'Dublin City', 'South Dublin', 'Fingal', 'Dún-Laoghaire Rathdown', 'Kildare', 'Kilkenny', 'Laois',
               'Longford', 'Louth', 'Meath', 'Offaly', 'Westmeath', 'Wexford', 'Wicklow', 'Clare', 'Cork City', 'Cork County',
               'Kerry', 'Limerick City and County', 'Tipperary', 'Waterford City and County', 'Galway City', 'Galway County',
               'Leitrim', 'Mayo', 'Roscommon', 'Sligo', 'Cavan', 'Donegal', 'Monaghan'],
    "latitude": [52.7181, 53.3498, 53.2862, 53.5486, 53.2926, 53.1589, 52.6541, 52.9949, 53.7267, 53.9509, 53.6055, 53.2274,
                 53.5267, 52.3369, 52.975, 52.8077, 51.8969, 51.9943, 52.1545, 52.668, 52.4739, 52.2593, 53.2707, 53.2707,
                 54.1177, 53.8356, 53.6269, 54.2704, 53.9908, 54.6538, 54.2522],
    "longitude": [-6.8509, -6.2603, -6.3566, -6.1871, -6.1393, -6.9094, -7.2448, -7.3325, -7.8001, -6.6111, -6.6564, -7.7324,
                  -7.3389, -6.4633, -6.0498, -9.4218, -8.4863, -8.7287, -9.5669, -8.6305, -7.9221, -7.1101, -9.0568, -9.0568,
                  -8.0188, -9.2785, -8.2169, -8.4761, -7.36, -8.1096, -6.9695]
}

df = pd.DataFrame(data_lat_long)

#Create a dataframe from origin and destination counties
origin_lat_long_df = df.rename(columns={'county': 'County_Origin', 'latitude': 'latitude_origin', 'longitude': 'longitude_origin'})
dest_lat_long_df = df.rename(columns={'county': 'County_Destination', 'latitude': 'latitude_destination', 'longitude': 'longitude_destination'})

In [10]:
#Rename Columns from Commuting Dataset and add the county journey which is the origin and destination combined
data_county = data.rename(columns={"RESIDENCE_COUNTY_LABEL": "County_Origin", "POWSC_COUNTY_LABEL": "County_Destination", "COUNT": "Count"})
data_county["County_commute"] = data_county['County_Origin'].astype(str) +"-"+ data_county["County_Destination"]
data_county = data_county[['County_Origin', 'County_Destination', 'County_commute', 'Count']]
data_county

,County_Origin,County_Destination,County_commute,Count
0,Carlow,Carlow,Carlow-Carlow,680
1,Carlow,Carlow,Carlow-Carlow,12
2,Carlow,Carlow,Carlow-Carlow,8
3,Carlow,Carlow,Carlow-Carlow,2
4,Carlow,Carlow,Carlow-Carlow,10
...,...,...,...,...
291888,Monaghan,Monaghan,Monaghan-Monaghan,1
291889,Monaghan,Monaghan,Monaghan-Monaghan,9
291890,Monaghan,No fixed place of work,Monaghan-No fixed place of work,24
291891,Monaghan,Northern Ireland,Monaghan-Northern Ireland,7
291892,Monaghan,Work/school from home,Monaghan-Work/school from home,42

In [11]:
commute_coords_df = pd.merge(data_county, origin_lat_long_df, on='County_Origin')
commute_coords_df = pd.merge(commute_coords_df, dest_lat_long_df, on='County_Destination')
commute_coords_df = commute_coords_df.groupby(['County_commute'])[['latitude_origin','longitude_origin','latitude_destination', 'longitude_destination']].max().reset_index()

In [12]:
commute_county_df = data_county.groupby(['County_commute','County_Origin', 'County_Destination']).sum().reset_index()

In [35]:
All_county_commutes_df = pd.merge(all_commutes_df, commute_county_df, on='County_commute', how='left')
All_county_commutes_df['Commute_Count'] = All_county_commutes_df['Count_Zero'] + All_county_commutes_df['Count']
All_county_commutes_df['Commute_Count'] = All_county_commutes_df['Commute_Count'].fillna(0).astype(int)
All_county_commutes_df = All_county_commutes_df[['County_commute','County_Origin', 'County_Destination', 'Commute_Count']]
All_county_commutes_df

,County_commute,County_Origin,County_Destination,Commute_Count
0,Carlow-Carlow,Carlow,Carlow,19174
1,Carlow-Dublin City,Carlow,Dublin City,962
2,Carlow-South Dublin,Carlow,South Dublin,548
3,Carlow-Fingal,Carlow,Fingal,132
4,Carlow-Dún-Laoghaire Rathdown,Carlow,Dún-Laoghaire Rathdown,290
...,...,...,...,...
1080,Monaghan-Clare,Monaghan,Clare,2
1081,Monaghan-Sligo,Monaghan,Sligo,81
1082,Monaghan-Longford,Monaghan,Longford,11
1083,Monaghan-Donegal,Monaghan,Donegal,87
1084,Monaghan-Leitrim,Monaghan,Leitrim,4

In [41]:
filtered_df = All_county_commutes_df[All_county_commutes_df['Commute_Count'] == 1]
filtered_df

          County_commute County_Origin County_Destination  Commute_Count
33        Carlow-Donegal        Carlow            Donegal              1
139       Fingal-Leitrim        Fingal            Leitrim              1
279        Laois-Leitrim         Laois            Leitrim              1
286    Longford-Kilkenny      Longford           Kilkenny              1
483    Wexford-Roscommon       Wexford          Roscommon              1
489      Wexford-Leitrim       Wexford            Leitrim              1
518    Wicklow-Roscommon       Wicklow          Roscommon              1
586   Cork City-Monaghan     Cork City           Monaghan              1
588  Cork City-Roscommon     Cork City          Roscommon              1
594    Cork City-Leitrim     Cork City            Leitrim              1
664        Kerry-Leitrim         Kerry            Leitrim              1

In [37]:
#Make each row correspond to an invidual 
Ind_county_commutes_df = All_county_commutes_df.loc[All_county_commutes_df.index.repeat(All_county_commutes_df['Commute_Count'])]
Ind_county_commutes_df.drop(columns=['Commute_Count'], inplace=True)
Ind_county_commutes_df

        County_commute County_Origin County_Destination
0        Carlow-Carlow        Carlow             Carlow
0        Carlow-Carlow        Carlow             Carlow
0        Carlow-Carlow        Carlow             Carlow
0        Carlow-Carlow        Carlow             Carlow
0        Carlow-Carlow        Carlow             Carlow
...                ...           ...                ...
1083  Monaghan-Donegal      Monaghan            Donegal
1084  Monaghan-Leitrim      Monaghan            Leitrim
1084  Monaghan-Leitrim      Monaghan            Leitrim
1084  Monaghan-Leitrim      Monaghan            Leitrim
1084  Monaghan-Leitrim      Monaghan            Leitrim

[2750239 rows x 3 columns]

In [31]:
#Checks to ensure counts remain the same before and after transformation
ind_count_commute1 = (Ind_county_commutes_df['County_commute'] == "Carlow-Dublin City").sum()
ind_count_commute2 = (Ind_county_commutes_df['County_commute'] == "Monaghan-Leitrim").sum()
ind_count_commute3 = (Ind_county_commutes_df['County_commute'] == "Carlow-Fingal").sum()


agg_count_commute1 = All_county_commutes_df.loc[All_county_commutes_df['County_commute'] == "Carlow-Dublin City"]
agg_count_commute2 = All_county_commutes_df.loc[All_county_commutes_df['County_commute'] == "Monaghan-Leitrim"]
agg_count_commute3 = All_county_commutes_df.loc[All_county_commutes_df['County_commute'] == "Carlow-Fingal"]

agg_count_commute1 = agg_count_commute1['Commute_Count']
agg_count_commute2 = agg_count_commute2['Commute_Count']
agg_count_commute3 = agg_count_commute3['Commute_Count']


print('Values for Ind ',ind_count_commute1,ind_count_commute2, ind_count_commute3)
#Confirmed Match

Values for Ind  962 4 132

In [53]:
#Saving CSV files
commute_county_df.to_csv('agg_commute_county_level.csv', sep=',', index=False, encoding='utf-8')
All_county_commutes_df.to_csv('agg_commute_county_level_all.csv', sep=',', index=False, encoding='utf-8')
Ind_county_commutes_df.to_csv('commute_county_level_all.csv', header=False, index=False)

In [54]:
# ax = commute_county_df.plot.bar(x='County_commute', y='Count', rot=30)
# plt.xticks([])  
# ax.set_yscale('log')
# plt.title("Irish Commuting at a County Level")
# plt.xlabel("Commute Route")
# plt.ylabel("Number of Individuals")
# plt.savefig("County_commute")
# plt.show()

In [42]:
ordered_commute_county_df = commute_county_df.sort_values(by=['Count'], ascending=False)

In [43]:
# ax = ordered_commute_county_df.plot.bar(x='County_commute', y='Count', rot=30)
# plt.xticks([])  
# ax.set_yscale('log')
# plt.title("Irish Commuting at a County Level")
# plt.xlabel("Commute Route")
# plt.ylabel("Number of Individuals")
# plt.savefig("County_commute_ordered")
# plt.show()

In [44]:
# #This graph is not scaled by log
# ax = commute_county_df.plot.bar(x='County_commute', y='Count', rot=30)
# plt.xticks([])  
# plt.title("Irish Commuting at a County Level")
# plt.xlabel("Commute Route")
# plt.ylabel("Number of Individuals")
# plt.show()

In [45]:
#Note: The following visualisation does not include all data. There is some data not graphed wiht locations - Northern Ireland, Work/school from home, Overseas, No fixed place of work'
final_commute_df = pd.merge(commute_county_df,commute_coords_df, on='County_commute') 
final_commute_df =  final_commute_df[['Count', 'latitude_origin', 'longitude_origin', 'latitude_destination', 'longitude_destination']]

In [59]:
# import folium  

# # Initialize map centered at a certain point
# map_center = [ 53.349805, -6.26031]  # Coordinates for Ireland
# map_zoom = 6
# mymap = folium.Map(location=map_center, zoom_start=map_zoom)

# # Add markers for each journey
# for index, row in final_commute_df.iterrows():
#     folium.Marker([row['latitude_origin'], row['longitude_origin']]).add_to(mymap)
#     folium.Marker([row['latitude_destination'], row['longitude_destination']]).add_to(mymap)

# # Save the map to an HTML file
# mymap.save("journeys_map.html")

In [60]:
# import folium  

# # Initialize map centered at a certain point
# map_center = [ 53.349805, -6.26031]  # Coordinates for Ireland
# map_zoom = 8
# mymap = folium.Map(location=map_center, zoom_start=map_zoom)

# # Add flows between origin and destination for each journey
# for index, row in final_commute_df.iterrows():
#     origin = [row['latitude_origin'], row['longitude_origin']]
#     dest = [row['latitude_destination'], row['longitude_destination']]
#     flow_line = folium.PolyLine(locations=[origin, dest], weight=row['Count']/10000, color='blue')
#     mymap.add_child(flow_line)

# # Save the map to an HTML file
# mymap.save("flow_map.html")

## Electoral Division

In [6]:
#Rename Columns and check that all commuting rows are unique
data_ED = data.rename(columns={"RESIDENCE_CSOED_LABEL": "ED_Origin", "POWSC_CSOED_LABEL": "ED_Destination", "COUNT": "Count"})
data_ED["ED_Commute"] = data_ED['ED_Origin'].astype(str) +"-"+ data_ED["ED_Destination"]

In [7]:
print(len(data_ED['ED_Commute'].unique()))
print(len(data_ED.index))

287116
291893

In [8]:
#There is a difference thus there must be some commutes that need to be combined - 4777
291893 - 287116

4777

In [9]:
#Can do a group-by 
data_ED = data_ED[['ED_Origin', 'ED_Destination', 'ED_Commute', 'Count']]

In [10]:
commute_ED_df = data_ED.groupby(['ED_Commute','ED_Origin', 'ED_Destination']).sum().reset_index()
commute_ED_df

,ED_Commute,ED_Origin,ED_Destination,Count
0,Abbey A-Abbey A,Abbey A,Abbey A,553
1,Abbey A-Abbey B,Abbey A,Abbey B,36
2,Abbey A-Abbey C,Abbey A,Abbey C,38
3,Abbey A-Abbey D,Abbey A,Abbey D,27
4,Abbey A-Adare South,Abbey A,Adare South,2
...,...,...,...,...
287111,Árainn-Sligo North,Árainn,Sligo North,2
287112,Árainn-Templeogue-Kimmage Manor,Árainn,Templeogue-Kimmage Manor,1
287113,Árainn-Westport Urban,Árainn,Westport Urban,1
287114,Árainn-Work/school from home,Árainn,Work/school from home,50
287115,Árainn-Árainn,Árainn,Árainn,354

In [11]:
# ax = commute_ED_df.plot.bar(x='ED_Commute', y='Count', rot=30)
# plt.xticks([])  
# ax.set_yscale('log')
# plt.title("Irish Commuting at a Electoral Division Level")
# plt.xlabel("Commute Route")
# plt.ylabel("Number of Individuals")
# plt.savefig("ED_commute")
# plt.show()

In [12]:
ordered_commute_ED_df = commute_ED_df.sort_values(by=['Count'], ascending=False)
ordered_commute_ED_df

,ED_Commute,ED_Origin,ED_Destination,Count
216172,Navan Rural-Navan Rural,Navan Rural,Navan Rural,5871
47900,Blanchardstown-Blakestown-Blanchardstown-Blake...,Blanchardstown-Blakestown,Blanchardstown-Blakestown,5768
215447,Naas Urban-Naas Urban,Naas Urban,Naas Urban,5594
201794,Maynooth-Maynooth,Maynooth,Maynooth,4477
80021,Clenagh-Clenagh,Clenagh,Clenagh,4459
...,...,...,...,...
130441,Fermoy Urban-Churchfield,Fermoy Urban,Churchfield,1
130442,Fermoy Urban-City Hall A,Fermoy Urban,City Hall A,1
130444,Fermoy Urban-Clogheen,Fermoy Urban,Clogheen,1
130445,Fermoy Urban-Clonakilty Urban,Fermoy Urban,Clonakilty Urban,1
143558,Granard Urban-Ceannanus Mór (Kells) Rural,Granard Urban,Ceannanus Mór (Kells) Rural,1

In [13]:
filtered_df = ordered_commute_ED_df[ordered_commute_ED_df['Count'] == 1]
filtered_df[16980:17000]
#135,771 people that have a unique commute

,ED_Commute,ED_Origin,ED_Destination,Count
200971,Marshalstown-Killincooly,Marshalstown,Killincooly,1
200970,Marshalstown-Killann,Marshalstown,Killann,1
232586,Rath-Pembroke East D,Rath,Pembroke East D,1
284831,Whitehall D-Dún Laoghaire-Sallynoggin West,Whitehall D,Dún Laoghaire-Sallynoggin West,1
275479,Treantaghmucklagh-Dún Fionnachaidh,Treantaghmucklagh,Dún Fionnachaidh,1
275480,Treantaghmucklagh-Dún Laoghaire-Sallynoggin West,Treantaghmucklagh,Dún Laoghaire-Sallynoggin West,1
275481,Treantaghmucklagh-Ennis Rural,Treantaghmucklagh,Ennis Rural,1
200944,Marshalstown-Dún Laoghaire-West Central,Marshalstown,Dún Laoghaire-West Central,1
232570,Rath-Lough Atalia,Rath,Lough Atalia,1
225474,Pembroke East D-Raheny-Greendale,Pembroke East D,Raheny-Greendale,1
275491,Treantaghmucklagh-Kilmacrenan,Treantaghmucklagh,Kilmacrenan,1
225475,Pembroke East D-Raheny-St. Assam,Pembroke East D,Raheny-St. Assam,1
227615,Portarlington South-Terenure A,Portarlington South,Terenure A,1
232569,Rath-Limerick North Rural,Rath,Limerick North Rural,1
225477,Pembroke East D-Rathfarnham Village,Pembroke East D,Rathfarnham Village,1
275497,Treantaghmucklagh-Mansion House A,Treantaghmucklagh,Mansion House A,1
200955,Marshalstown-Gillabbey C,Marshalstown,Gillabbey C,1
275499,Treantaghmucklagh-Na Gleannta,Treantaghmucklagh,Na Gleannta,1
232568,Rath-Kyle,Rath,Kyle,1
232567,Rath-Kilseily,Rath,Kilseily,1

In [14]:
# ax = ordered_commute_ED_df.plot.bar(x='ED_Commute', y='Count', rot=30)
# plt.xticks([])  
# ax.set_yscale('log')
# plt.title("Irish Commuting at a Electoral Division Level")
# plt.xlabel("Commute Route")
# plt.ylabel("Number of Individuals")
# plt.savefig("ED_commute_ordered")
# plt.show()

In [15]:
origins = data["RESIDENCE_CSOED_LABEL"].unique()
destinations = data["POWSC_CSOED_LABEL"].unique()

In [16]:
origins_less_destinations = set(origins).difference(set(destinations))

In [19]:
destinations_less_origins = list(set(destinations).difference(set(origins)))
all_ed_locations = list(origins)
for item in destinations_less_origins:
    all_ed_locations.append(item)

In [20]:
# Generate permutations
permutations = list(itertools.product(all_ed_locations, all_ed_locations))

# Create DataFrame
all_commutes_ED_df = pd.DataFrame(permutations, columns=['Origin_ED', 'Destination_ED'])

# Create 'County_commute' column by concatenating 'Origin' and 'Destination' with '-'
all_commutes_ED_df['ED_Commute'] = all_commutes_ED_df['Origin_ED'] + '-' + all_commutes_ED_df['Destination_ED']

# Create 'count' column with all 0s
all_commutes_ED_df['Count_Zero'] = 0

# Merge datasets
all_commutes_ED_df = pd.merge(all_commutes_ED_df, commute_ED_df, on='ED_Commute', how='left')

all_commutes_ED_df['EDCommute_Count'] = all_commutes_ED_df['Count_Zero'] + all_commutes_ED_df['Count']
all_commutes_ED_df = all_commutes_ED_df[['ED_Commute', 'Origin_ED', 'Destination_ED', 'EDCommute_Count']]
all_commutes_ED_df = all_commutes_ED_df.fillna(0)

all_commutes_ED_df

,ED_Commute,Origin_ED,Destination_ED,EDCommute_Count
0,Carlow Urban-Carlow Urban,Carlow Urban,Carlow Urban,680.0
1,Carlow Urban-Graigue Urban,Carlow Urban,Graigue Urban,12.0
2,Carlow Urban-Hacketstown,Carlow Urban,Hacketstown,8.0
3,Carlow Urban-Agha,Carlow Urban,Agha,2.0
4,Carlow Urban-Ballinacarrig,Carlow Urban,Ballinacarrig,10.0
...,...,...,...,...
8699653,Tullycorbet-Fánaid Thiar,Tullycorbet,Fánaid Thiar,0.0
8699654,Tullycorbet-Loch Caol,Tullycorbet,Loch Caol,0.0
8699655,Tullycorbet-Feddyglass,Tullycorbet,Feddyglass,0.0
8699656,Tullycorbet-Drummully,Tullycorbet,Drummully,0.0
8699657,Tullycorbet-Caddagh,Tullycorbet,Caddagh,3.0

In [21]:
all_commutes_ED_df.rename(columns={'ED_Commute':'ED_commute'}, inplace=True)

all_commutes_ED_df

,ED_commute,Origin_ED,Destination_ED,EDCommute_Count
0,Carlow Urban-Carlow Urban,Carlow Urban,Carlow Urban,680.0
1,Carlow Urban-Graigue Urban,Carlow Urban,Graigue Urban,12.0
2,Carlow Urban-Hacketstown,Carlow Urban,Hacketstown,8.0
3,Carlow Urban-Agha,Carlow Urban,Agha,2.0
4,Carlow Urban-Ballinacarrig,Carlow Urban,Ballinacarrig,10.0
...,...,...,...,...
8699653,Tullycorbet-Fánaid Thiar,Tullycorbet,Fánaid Thiar,0.0
8699654,Tullycorbet-Loch Caol,Tullycorbet,Loch Caol,0.0
8699655,Tullycorbet-Feddyglass,Tullycorbet,Feddyglass,0.0
8699656,Tullycorbet-Drummully,Tullycorbet,Drummully,0.0
8699657,Tullycorbet-Caddagh,Tullycorbet,Caddagh,3.0

In [22]:
#Make each row correspond to an invidual 
Ind_ed_commutes_df = all_commutes_ED_df.loc[all_commutes_ED_df.index.repeat(all_commutes_ED_df['EDCommute_Count'])]
Ind_ed_commutes_df.drop(columns=['EDCommute_Count'], inplace=True)
Ind_ed_commutes_df

                        ED_commute     Origin_ED Destination_ED
0        Carlow Urban-Carlow Urban  Carlow Urban   Carlow Urban
0        Carlow Urban-Carlow Urban  Carlow Urban   Carlow Urban
0        Carlow Urban-Carlow Urban  Carlow Urban   Carlow Urban
0        Carlow Urban-Carlow Urban  Carlow Urban   Carlow Urban
0        Carlow Urban-Carlow Urban  Carlow Urban   Carlow Urban
...                            ...           ...            ...
8699589      Tullycorbet-Annayalla   Tullycorbet      Annayalla
8699589      Tullycorbet-Annayalla   Tullycorbet      Annayalla
8699657        Tullycorbet-Caddagh   Tullycorbet        Caddagh
8699657        Tullycorbet-Caddagh   Tullycorbet        Caddagh
8699657        Tullycorbet-Caddagh   Tullycorbet        Caddagh

[2750239 rows x 3 columns]

In [23]:
#Saving CSV files
commute_ED_df.to_csv('agg_commute_ed_level.csv', sep=',', index=False, encoding='utf-8')
all_commutes_ED_df.to_csv('agg_commute_ed_level_all.csv', sep=',', index=False, encoding='utf-8')
Ind_ed_commutes_df.to_csv('commute_ed_level_all.csv', header=False, index=False)